<div class="container">
  <div class="header">
    <p>Donne ton avis sur ce post !</p>
  </div>
  <div class="notes">
    @for(note of notes; track note.name; let index = $index){
    <div
      (click)="onClick(index)"
      class="note"
      [classList]="note.isActive ? 'active note' : 'note'"
    >
      <img [src]="note.svgPath" alt="Note Icon" />
      <p>{{ note.name }}</p>
    </div>
    }
  </div>
  <div class="footer">
    <div class="button outline size1">Annuler</div>
    <div class="button solid size1">Soumettre</div>
  </div>
</div>
