.container {
  border: 1px solid var(--grey_subtle_borders_separators);
  width: 100%;
  max-width: 600px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 4vh 2vw;
  margin: auto;
  .header {
    p {
      font-size: 1.3rem;
      margin: 0;
    }
  }
  .notes {
    width: 100%;
    display: flex;
    justify-content: space-between;
    .note {
      cursor: pointer;
      border-radius: 5px;
      padding: 3% 0 0 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 17%;
      border: 1px solid var(--grey_subtle_borders_separators);
      transition: 0.1s;
      img {
        width: 45%;
        height: 45%;
        transition: 0.3s;
      }
      &:hover {
        background-color: var(--subtle_background);
        img {
          transform: rotate(5deg);
        }
      }
      p {
        // font-size: 1.6vw;
        font-size: clamp(0.5em, 1.3vw, 1em);
      }
      &.active {
        background-color: var(--subtle_background);
        border: 1px solid var(--hovered_ui_element_border);
      }
    }
  }
  .footer {
    display: flex;
    align-self: flex-end;
    gap: 20px;
  }
}

// @media screen and (max-width: 1025px) {
//   .container {
//     .footer {
//       // On écrase la taille de bouton 3 pour passer a la taille 2

//       .size3 {
//         height: 45px;
//         font-size: 1.2rem;
//         padding: 10px 20px;
//       }
//     }
//   }
// }

@media screen and (max-width: 725px) {
  .container {
    // On fait des boutons qui prennent toute la largeure
    .footer {
      width: 100%;
      .button {
        width: 100%;
      }
    }
  }
}
