.table_of_content {
  display: flex;
  flex-direction: column;
  a {
    color: var(--grey_low_contrast_text);
    font-size: 1.3rem;
    font-weight: normal;
    border-left: 1px solid var(--grey_subtle_borders_separators);
    margin: 0;
    padding: 5px 15px;
    cursor: pointer;
    &:first-child {
      padding-top: 0;
    }
    &:last-child {
      padding-bottom: 0;
    }
    &:hover {
      border-left: 1px solid var(--grey_hovered_solid_backgrounds);
    }
  }
}

.post_content {
  padding-right: 30%;
  img {
    width: 80%;
    margin: 30px 0;
  }

  h1 {
    font-size: 2.3rem;
    margin: 50px 0 20px 0;
  }

  p {
    font-size: 1.2rem;
  }
}

/* Highlightjs VSCode like style*/
.hljs {
  background: #1e1e1e;
  color: #d4d4d4;
  overflow: auto;
  padding: 25px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
  margin: 30px 0;
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    Liberation Mono, Courier New, monospace;
  line-height: 1.5rem;
}

.hljs-comment {
  color: #6a9955;
}

.hljs-quote {
  color: #ce9178;
}

.hljs-meta,
.hljs-variable,
.hljs-template-variable,
.hljs-tag,
.hljs-name,
.hljs-selector-id,
.hljs-selector-class,
.hljs-regexp,
.hljs-deletion,
.hljs-property,
.hljs-built_in {
  color: #9cdcfe;
}

.hljs-number,
.hljs-literal,
.hljs-type,
.hljs-subst .hljs-link {
  color: #b5cea8;
}

.hljs-attribute {
  color: #d19a66;
}

.hljs-string,
.hljs-bullet,
.hljs-addition {
  color: #ce9178;
}

.hljs-params,
.hljs-attr,
.hljs-title {
  color: #dcdcaa;
}

.hljs-selector-tag,
.hljs-keyword,
.hljs-class {
  color: #c586c0;
}

.hljs-section {
  color: #d4d4d4;
}

.hljs-symbol {
  color: #dbc4d9;
}
.hljs-emphasis {
  font-style: italic;
}
.hljs-strong {
  font-weight: bold;
}
