<!-- Réfélchir aune architecture avec du routage. il faut prévoir un espace admin
-> Page accueil avec les postes  
-> Page du Poste
-> Page accueil adimin
-> Page rédaction d'un post-->

<!-- Ici il y aura le routeur -->

<!-- Page accueil -->
<h1>Blog</h1>
<p>
  Le Lorem Ipsum est simplement du faux texte employé dans la composition et la
  mise en page avant impression. Le Lorem Ipsum est le faux texte. Le Lorem
  Ipsum est simplement du faux texte employé dans la composition et la mise en
  page avant impression. Le Lorem Ipsum est le faux texte
</p>

<app-post-list></app-post-list>
