* {
  box-sizing: border-box;
  font-family: "KoHo", sans-serif;
}

:root {
  // colors
  --app_background: #fffcfd;
  --subtle_background: #fef7f9;
  // --subtle_borders: #DBD8E0;
  // --solid_backgrounds: #8E8C99;
  // --heigh_contrast_text: #202020;
  --hovered_ui_element_border: #e093b2;
  --low_contrast_text: #cb1d63;

  // grey
  --grey_app_background: #fdfcfd;
  --grey_hovered_ui_element: #eae7ec;
  --grey_subtle_borders_separators: #dbd8e0;
  --grey_solid_backgrounds: #8e8c99;
  --grey_hovered_solid_backgrounds: #84828e;
  --grey_low_contrast_text: #65636d;
  --grey_heigh_contrast_text: #211f26;
}

p {
  color: var(--grey_low_contrast_text);
}

h1 {
  color: var(--grey_heigh_contrast_text);
}

body {
  background-color: var(--app_background);
  margin: 0;
}

.separator {
  width: 100%;
  border-bottom: solid 1px var(--grey_subtle_borders_separators);
}

.table_of_content {
  display: flex;
  flex-direction: column;
  a {
    color: var(--grey_low_contrast_text);
    font-size: 1.1rem;
    font-weight: normal;
    border-left: 1px solid var(--grey_subtle_borders_separators);
    margin: 0;
    padding: 5px 15px;
    cursor: pointer;
    &:first-child {
      padding-top: 0;
    }
    &:last-child {
      padding-bottom: 0;
    }
    &:hover {
      border-left: 1px solid var(--grey_hovered_solid_backgrounds);
    }
  }
}

.post_content {
  padding-right: 30%;
  img {
    width: 80%;
  }
}

.button_outine {
  background-color: transparent;
  border: 1px solid var(--hovered_ui_element_border);
  color: var(--low_contrast_text);
  border-radius: 5px;
  padding: 5px 20px 5px 10px;
  width: max-content;
  height: max-content;
  display: flex;
  gap: 10px;
  align-items: center;
  transition: 0.2s;
  cursor: pointer;
  p {
    margin: 0;
    color: var(--low_contrast_text);
  }
  svg {
    height: 17px;
    width: 17px;
    stroke: var(--low_contrast_text);
  }
  &:hover {
    background-color: var(--subtle_background);
  }
}

.hljs {
  color: #a9b7c6;
  background: #282b2e;
  overflow: auto;
  padding: 2em;
  border-radius: 4px;
}
.hljs-number,
.hljs-literal,
.hljs-symbol,
.hljs-bullet {
  color: #6897bb;
}
.hljs-keyword,
.hljs-selector-tag,
.hljs-deletion {
  color: #cc7832;
}
.hljs-variable,
.hljs-template-variable,
.hljs-link {
  color: #629755;
}
.hljs-comment,
.hljs-quote {
  color: #808080;
}
.hljs-meta {
  color: #bbb529;
}
.hljs-string,
.hljs-attribute,
.hljs-addition {
  color: #6a8759;
}
.hljs-section,
.hljs-title,
.hljs-type {
  color: #ffc66d;
}
.hljs-name,
.hljs-selector-id,
.hljs-selector-class {
  color: #e8bf6a;
}
.hljs-emphasis {
  font-style: italic;
}
.hljs-strong {
  font-weight: bold;
}
