* {
  box-sizing: border-box;
  font-family: "KoHo", sans-serif;
}

:root {
  // colors
  --app_background: #fffcfd;
  --subtle_background: #fef7f9;
  // --subtle_borders: #DBD8E0;
  // --solid_backgrounds: #8E8C99;
  // --heigh_contrast_text: #202020;
  --hovered_ui_element_border: #e093b2;
  --low_contrast_text: #cb1d63;

  // grey
  --grey_app_background: #fdfcfd;
  --grey_hovered_ui_element: #eae7ec;
  --grey_subtle_borders_separators: #dbd8e0;
  --grey_solid_backgrounds: #8e8c99;
  --grey_hovered_solid_backgrounds: #84828e;
  --grey_low_contrast_text: #65636d;
  --grey_heigh_contrast_text: #211f26;
}

p {
  color: var(--grey_low_contrast_text);
}

h1 {
  color: var(--grey_heigh_contrast_text);
}

body {
  background-color: var(--app_background);
  margin: 0;
}

.separator {
  width: 100%;
  border-bottom: solid 1px var(--grey_subtle_borders_separators);
}

.table_of_content {
  display: flex;
  flex-direction: column;
  a {
    color: var(--grey_low_contrast_text);
    font-size: 1.1rem;
    font-weight: normal;
    border-left: 1px solid var(--grey_subtle_borders_separators);
    margin: 0;
    padding: 5px 15px;
    cursor: pointer;
    &:first-child {
      padding-top: 0;
    }
    &:last-child {
      padding-bottom: 0;
    }
    &:hover {
      border-left: 1px solid var(--grey_hovered_solid_backgrounds);
    }
  }
}

.button_outine {
  background-color: transparent;
  border: 1px solid var(--hovered_ui_element_border);
  color: var(--low_contrast_text);
  border-radius: 5px;
  padding: 5px 20px 5px 10px;
  width: max-content;
  height: max-content;
  display: flex;
  gap: 10px;
  align-items: center;
  transition: 0.2s;
  cursor: pointer;
  p {
    margin: 0;
    color: var(--low_contrast_text);
  }
  svg {
    height: 17px;
    width: 17px;
    stroke: var(--low_contrast_text);
  }
  &:hover {
    background-color: var(--subtle_background);
  }
}
