.layout-content {
  padding: 20px 120px;
  height: 100%;
  max-width: 1350px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 725px) {
  .layout-content {
    padding: 20px 10px;
  }
}
