.layout-content {
  padding: 10vh 5vw;
  height: 100%;
  max-width: 1350px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 725px) {
  .layout-content {
    padding: 10vh 3vw;
  }
}
